// CSS Reset //

body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aleo:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aleo:wght@700&family=Atkinson+Hyperlegible:wght@700&display=swap");

#landing-page {
  display: grid;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  background: linear-gradient(-45deg, #cecece, #616161, #3d3d3d);
  background-size: 400% 400%;
  -webkit-animation: Gradient 8s ease infinite;
  -moz-animation: Gradient 8s ease infinite;
  animation: Gradient 8s ease infinite;
}

main {
  color: white;
  display: grid;
  flex-direction: column;
}

.wrap {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 5%;
  max-width: 320px;
  place-self: center;
  align-items: center;
  width: 100%;
}

.photo {
  border-radius: 50%;
  max-height: 497.5px;
  max-width: 497.5px;
}

.profile {
  text-align: center;
}

.profile-name {
  -webkit-box-reflect: below -1vh linear-gradient(transparent, rgba(255, 255, 255, 0.11));
  margin-top: 4vh;
  font-size: 1.8rem;
  font-weight: bold;
  display: block;
  color: #fff;
}

.profile-title {
  display: block;
  margin-top: 5vh;
  font-size: 0.9rem;
  place-self: center;
  min-width: 100vw;
}

.card {
  display: block;
  margin: 1rem;
  padding: 1rem 0 1rem 0;
  width: 380px;
  max-width: 90vw;
  // min-width: 35vw;
  text-align: center;
  font-size: 1rem;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  line-height: 1.5rem;
  background-color: #fafafa;
  color: black;
  box-shadow: 0px 8px 8px black;
}

.link {
  padding: 14px 0 14px 0;
  display: block;
  text-align: center;
  text-decoration: none;
  border-radius: 7px;
  transition: ease all 0.3s;
  color: inherit;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      display: block;
      border-radius: 10px;
      margin: 14px 0;
      box-shadow: 0px 8px 8px black;
      width: 320px;
      max-width: 85vw;
      // min-width: 30vw;
    }
  }
}

li:hover,
li:focus,
li:active {
  box-shadow: 0px 4px 4px var(--hover);
  transform: translateY(-0.25em);
  color: #fff;
  border: 1px solid;
  border-color: #fff;
}

.resume {
  background-color: #f0bc20;
  color: #fff;
}

.email {
  background-color: #ea4335;
  color: #fff;
  i {
    color: #fff;
  }
}

.instagram {
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.twitter {
  background-color: #1da1f2;
}

.linkedin {
  background-color: #0072b1;
}

.github {
  background-color: #171515;
}

.spotify {
  background-color: #1db954;
  i {
    color: #1db954;
    background-color: black;
    border: 1px solid black;
    border-radius: 50%;
  }
}

.soundcloud {
  background: linear-gradient(120deg, #ff8800, #ff3300);
}

.spotify-artist {
  background-color: #4101f5;
}

.calendly {
  width: 380px;
  max-width: 90vw;
  max-height: 370px;
  border-radius: 10%;
  margin-top: 20%;
  margin-bottom: 5%;
  box-shadow: 0px 8px 8px black;
}

.copyright-text {
  bottom: 0;
  display: block;
  width: 100%;
  text-align: center;
  text-decoration: none;
  background-color: #2a343981;
  color: rgba(255, 255, 255, 0.801);
  font-size: 0.75rem;
}
.copyright-text:hover,
.copyright-text:focus,
.copyright-text:active {
  color: #fff;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 75% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 75% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/////////////// Resume Page ////////////////

html {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background-color: #181818;
}
#resume-page {
  html,
  body,
  div,
  span,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  abbr,
  address,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  samp,
  small,
  strong,
  sub,
  sup,
  var,
  b,
  i,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    transform: none;
  }

  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    display: block;
  }

  html,
  body {
    background: #181818;
    font-family: "Lato", helvetica, arial, sans-serif;
    font-size: 16px;
    color: #222;
  }

  .clear {
    clear: both;
  }

  p {
    font-size: 1em;
    line-height: 1.4em;
    margin-bottom: 20px;
    color: #444;
  }

  #cv {
    width: 90%;
    max-width: 800px;
    background: #f3f3f3;
    margin: 30px auto;
  }

  .mainDetails {
    padding: 25px 35px;
    border-bottom: 2px solid #0077b5;
    background: #ededed;
  }

  #name h1 {
    font-size: 2.5em;
    font-weight: 700;
    font-family: "Rokkitt", Helvetica, Arial, sans-serif;
    margin-bottom: -6px;
  }

  #name h2 {
    font-size: 2em;
    margin-left: 2px;
    font-family: "Rokkitt", Helvetica, Arial, sans-serif;
  }

  #mainArea {
    padding: 0 40px;
  }

  #headshot {
    width: 12.5%;
    float: left;
    margin-right: 30px;
  }

  #headshot img {
    width: 100%;
    height: auto;
    -webkit-border-radius: 50px;
    border-radius: 50px;
  }

  #name {
    float: left;
  }

  #contactDetails {
    float: right;
  }

  #contactDetails ul {
    list-style-type: none;
    font-size: 0.9em;
    margin-top: 2px;
  }

  #contactDetails ul li {
    margin-bottom: 3px;
    color: #444;
  }

  #contactDetails ul li a,
  a[href^="tel"] {
    color: #444;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }

  #contactDetails ul li a:hover {
    color: #0077b5;
  }

  section {
    border-top: 1px solid #dedede;
    padding: 20px 0 0;
  }

  section:first-child {
    border-top: 0;
  }

  section:last-child {
    padding: 20px 0 10px;
  }

  .sectionTitle {
    float: left;
    width: 25%;
  }

  .sectionContent {
    float: right;
    width: 72.5%;
  }

  .sectionTitle h1 {
    font-family: "Rokkitt", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 1.5em;
    color: #0077b5;
  }

  .sectionContent h2 {
    font-family: "Rokkitt", Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    margin-bottom: -2px;
  }

  .subDetails {
    font-size: 0.8em;
    font-style: italic;
    margin-bottom: 3px;
  }

  .keySkills {
    list-style-type: none;
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
    margin-bottom: 20px;
    font-size: 1em;
    color: #444;
  }

  .keySkills ul li {
    margin-bottom: 3px;
  }

  @media all and (min-width: 602px) and (max-width: 800px) {
    #headshot {
      display: none;
    }

    .keySkills {
      -moz-column-count: 2;
      -webkit-column-count: 2;
      column-count: 2;
    }
  }

  @media all and (max-width: 601px) {
    #cv {
      width: 95%;
      margin: 10px auto;
      min-width: 280px;
    }

    #headshot {
      display: none;
    }

    #name,
    #contactDetails {
      float: none;
      width: 100%;
      text-align: center;
    }

    .sectionTitle,
    .sectionContent {
      float: none;
      width: 100%;
    }

    .sectionTitle {
      margin-left: -2px;
      font-size: 1.25em;
    }

    .keySkills {
      -moz-column-count: 2;
      -webkit-column-count: 2;
      column-count: 2;
    }
  }

  @media all and (max-width: 480px) {
    .mainDetails {
      padding: 15px 15px;
    }

    section {
      padding: 15px 0 0;
    }

    #mainArea {
      padding: 0 25px;
    }

    .keySkills {
      -moz-column-count: 1;
      -webkit-column-count: 1;
      column-count: 1;
    }

    #name h1 {
      line-height: 0.8em;
      margin-bottom: 4px;
    }
  }

  @media print {
    #cv {
      width: 100%;
    }
  }

  @-webkit-keyframes reset {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  @-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    40% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @-moz-keyframes reset {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  @-moz-keyframes fade-in {
    0% {
      opacity: 0;
    }
    40% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes reset {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    40% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .instaFade {
    -webkit-animation-name: reset, fade-in;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: ease-in;

    -moz-animation-name: reset, fade-in;
    -moz-animation-duration: 1.5s;
    -moz-animation-timing-function: ease-in;

    animation-name: reset, fade-in;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
  }

  .quickFade {
    -webkit-animation-name: reset, fade-in;
    -webkit-animation-duration: 2.5s;
    -webkit-animation-timing-function: ease-in;

    -moz-animation-name: reset, fade-in;
    -moz-animation-duration: 2.5s;
    -moz-animation-timing-function: ease-in;

    animation-name: reset, fade-in;
    animation-duration: 2.5s;
    animation-timing-function: ease-in;
  }

  .delayOne {
    -webkit-animation-delay: 0, 0.5s;
    -moz-animation-delay: 0, 0.5s;
    animation-delay: 0, 0.5s;
  }

  .delayTwo {
    -webkit-animation-delay: 0, 1s;
    -moz-animation-delay: 0, 1s;
    animation-delay: 0, 1s;
  }

  .delayThree {
    -webkit-animation-delay: 0, 1.5s;
    -moz-animation-delay: 0, 1.5s;
    animation-delay: 0, 1.5s;
  }

  .delayFour {
    -webkit-animation-delay: 0, 2s;
    -moz-animation-delay: 0, 2s;
    animation-delay: 0, 2s;
  }

  .delayFive {
    -webkit-animation-delay: 0, 2.5s;
    -moz-animation-delay: 0, 2.5s;
    animation-delay: 0, 2.5s;
  }
}
