// CSS Reset //

body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}

#landing-page html {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aleo:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aleo:wght@700&family=Atkinson+Hyperlegible:wght@700&display=swap");

#landing-page {
  display: grid;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  background: linear-gradient(-45deg, #cecece, #616161, #3d3d3d);
  background-size: 400% 400%;
  -webkit-animation: Gradient 8s ease infinite;
  -moz-animation: Gradient 8s ease infinite;
  animation: Gradient 8s ease infinite;
}

main {
  color: white;
  display: grid;
  flex-direction: column;
}

.wrap {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 5%;
  max-width: 320px;
  place-self: center;
  align-items: center;
  width: 100%;
}

.photo {
  border-radius: 50%;
  max-height: 497.5px;
  max-width: 497.5px;
}

.profile {
  text-align: center;
}

.profile-name {
  -webkit-box-reflect: below -1vh linear-gradient(transparent, rgba(255, 255, 255, 0.11));
  margin-top: 4vh;
  font-size: 1.8rem;
  font-weight: bold;
  display: block;
  color: #fff;
}

.profile-title {
  display: block;
  margin-top: 5vh;
  font-size: 0.9rem;
  place-self: center;
  min-width: 100vw;
}

.card {
  display: block;
  margin: 1rem;
  padding: 1rem 0 1rem 0;
  width: 380px;
  max-width: 90vw;
  // min-width: 35vw;
  text-align: center;
  font-size: 1rem;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  line-height: 1.5rem;
  background-color: #fafafa;
  color: black;
  box-shadow: 0px 8px 8px black;
}

.link {
  padding: 14px 0 14px 0;
  display: block;
  text-align: center;
  text-decoration: none;
  border-radius: 7px;
  transition: ease all 0.3s;
  color: inherit;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      display: block;
      border-radius: 10px;
      margin: 14px 0;
      box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.911);
      width: 320px;
      max-width: 85vw;
      // min-width: 30vw;
    }
  }
}

.links li:hover,
.links li:focus,
.links li:active {
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.911);
  transform: translateY(-0.25em);
  color: #fff;
  border: 1px solid;
  border-color: #fff;
}

.resume {
  background-color: #2164f4;
  color: #fff;
}

.portfolio {
  background-color: #828ad0;
  color: #fff;
}

.email {
  background-color: #ea4335;
  color: #fff;
  i {
    color: #fff;
  }
}

.instagram {
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.twitter {
  background-color: #1da1f2;
}

.linkedin {
  background-color: #0072b1;
}

.github {
  background-color: #171515;
}

.spotify {
  background-color: #1db954;
  i {
    color: #1db954;
    background-color: black;
    border: 1px solid black;
    border-radius: 50%;
  }
}

.soundcloud {
  background: linear-gradient(120deg, #ff8800, #ff3300);
}

.spotify-artist {
  background-color: #4101f5;
}

.calendly {
  width: 380px;
  max-width: 90vw;
  max-height: 370px;
  border-radius: 10%;
  margin-top: 20%;
  margin-bottom: 5%;
  box-shadow: 0px 8px 8px black;
}

.copyright-text {
  bottom: 0;
  display: block;
  width: 100%;
  text-align: center;
  text-decoration: none;
  background-color: #2a343981;
  color: rgba(255, 255, 255, 0.801);
  font-size: 0.75rem;
}
.copyright-text:hover,
.copyright-text:focus,
.copyright-text:active {
  color: #fff;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 75% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 75% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
